@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.app-loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@layer base {
  :root {
    --background: 155 36% 100%;
    --foreground: 255 5% 20%;
    --muted: 155 5% 95%;
    --muted-foreground: 155 8% 33%;
    --popover: 155 36% 100%;
    --popover-foreground: 155 71% 1%;
    --card: 155 36% 100%;
    --card-foreground: 155 71% 1%;
    --border: 155 13% 90%;
    --input: 155 13% 90%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 96%;
    --secondary: 155 14% 80%;
    --secondary-foreground: 155 14% 20%;
    --accent: 155 23% 71%;
    --accent-foreground: 155 23% 11%;
    --destructive: 8 87% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 255 0% 3%;
    --foreground: 155 10% 88%;
    --muted: 155 5% 5%;
    --muted-foreground: 155 8% 67%;
    --popover: 155 30% 0%;
    --popover-foreground: 155 29% 98%;
    --card: 155 30% 0%;
    --card-foreground: 155 29% 98%;
    --border: 155 13% 15%;
    --input: 155 13% 15%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 96%;
    --secondary: 155 10% 18%;
    --secondary-foreground: 155 10% 78%;
    --accent: 155 19% 25%;
    --accent-foreground: 155 19% 85%;
    --destructive: 8 87% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .input-class {
    @apply font-medium rounded-lg border border-gray-300;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-18 font-semibold;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  /* Home */
  .home {
    @apply flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }

  /* HeaderBox */
  .header-box {
    @apply flex flex-col gap-1;
  }

  .header-box-title {
    @apply text-24 lg:text-30 font-semibold;
  }

  .header-box-subtext {
    @apply text-14 lg:text-16 font-normal;
  }

  /* Category Badge */
  .category-badge {
    @apply flex-center truncate w-fit gap-1 rounded-2xl border-[1.5px] py-[2px] pl-1.5 pr-2;
  }

  .banktab-item {
    @apply gap-[18px] border-b-2 flex px-2 sm:px-4 py-2 transition-all;
  }

  /* Root Layout */
  .root-layout {
    @apply flex h-16 items-center justify-between p-5 sm:p-8 md:hidden;
  }

  /* Footer */
  .footer {
    @apply flex items-center justify-between gap-2 py-6;
  }

  /* make the svg white on hover */
  .footer-logout {
    @apply absolute;
  }

  .footer_name {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-500 max-xl:hidden;
  }

  .footer_email {
    @apply flex flex-1 flex-col justify-center max-xl:hidden;
  }

  .footer_name-mobile {
    @apply flex size-10 items-center justify-center rounded-full bg-gray-200;
  }

  .footer_email-mobile {
    @apply flex flex-1 flex-col justify-center;
  }

  .footer_image {
    @apply relative size-10 max-xl:w-full max-xl:flex max-xl:justify-center max-xl:items-center;
  }

  .footer_image-mobile {
    @apply relative w-full h-full;
  }

  /* Mobile nav */
  .mobilenav-sheet {
    @apply flex flex-col justify-between h-full;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full;
  }

  /* Auth */
  .auth-asset {
    @apply flex h-screen w-full sticky top-0 items-center justify-end bg-sky-1 max-lg:hidden;
  }

  /* Auth Form */
  .auth-form {
    @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-14 w-full max-w-[280px] font-medium text-secondary-foreground;
  }

  .form-message {
    @apply text-12 text-red-500;
  }

  .form-btn {
    @apply text-16 rounded-lg border border-bankGradient bg-bank-gradient font-semibold text-white shadow-form;
  }

  .form-link {
    @apply text-14 cursor-pointer font-medium text-primary;
  }

  /* Sidebar */
  .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border-r border-secondary/50 pt-4 max-md:hidden sm:p-6 xl:p-6 md:p-6 2xl:w-[384px];
  }

  .sidebar-logo {
    @apply font-ibm-plex-serif text-26 font-bold text-primary;
  }

  .sidebar-link-active {
    @apply flex gap-3 items-center transition-colors py-1 bg-primary text-primary-foreground hover:bg-primary/80 max-sm:p-4 sm:p-4 rounded-lg justify-center xl:justify-start;
  }

  .sidebar-link-inactive {
    @apply flex gap-3 items-center transition-colors py-1 hover:bg-secondary rounded-lg max-sm:p-4 sm:p-4 justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-16 font-semibold max-xl:hidden;
  }
}